<%- layout("layouts/main") %>
<form action="/users/signin" method="post">
    <input type="text" name="username" placeholder="Insert username" />
    <input type="password" name="password" placeholder="Insert password">
    <button type="submit">
      Signin
    </button>
  </form>